{% load static %}
<html>

  <head>
  
    <title>Django blog</title>

  </head>

  <body>

    <header>

      <div class="nav_left">

        <h1><a href = "{%url 'home' %}">Django blog</a></h1>

      </div>

      <div class="nav_right">

        <a href="{% url 'post_new' %}">+ New Blog Post</a>

      </div>

    </header>


    {% if user.is_authenticated %}

    <p>Hi {{ user.username }}!</p>

    <p><a href="{% url 'logout' %}">Log out</a></p>

    {% else %}

    <p>You are not logged in.</p>

    <a href="{% url 'login' %}">Log IN</a>

    {% endif %}


    <div>

      {% block content %}

      {% endblock content %}

    </div>

  </body>
</html>
